@import 'bootstrap';

.like-button:hover {
    cursor: pointer;
}

.tag-note {
    font-size: 12px;
    text-align: center;
}

.active-tag {
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
}

.inactive-tag {
    cursor: pointer;
    font-size: 12px;
    color: #dc3545;
    background-color: white;
    border: 1px solid #dc3545;
}

/*  */
